<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/penguin500x500.png" height="60" title="Submenu" alt=""></td>
        <td><a href="{{site.baseurl}}/week5/2022/09/23/javascript.html">JavaScript</a></td>
        <td><a href="{{site.baseurl}}/week5/2022/09/23/htmljavascripttable.html">Table</a></td>
        <td><a href="{{site.baseurl}}/week7/2022/10/09/api.html">Airline API</a></td>       
        <td><a href="{{site.baseurl}}/data/jokes">Jokes API</a></td>    
        <td><a href="{{site.baseurl}}/data/trfa">True/Flase API</a></td>     
    </tr>
</table>